# Environment variables
.env
.env.*
!.env.example

# Python venv
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB (optioneel, als je die niet wil uploaden)
*.db
*.sqlite3

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
