{% extends 'base.html' %}

{% block content %}
<div class="login-page-background">

    <div class="login-content-wrapper">

        <div class="login-card">
            <div class="login-header">
                <h1 class="header-title">Login.</h1>
                <p class="login-subtitle">
                    Log in om toegang te krijgen tot het portaal.
                </p>
            </div>

            <div class="login-body">
                <form method="POST">

                    <div class="login-form-group">
                        <label for="emailField" class="form-label">E-mailadres</label>
                        <input
                            type="email"
                            class="login-input-field"
                            name="form_email"
                            id="emailField"
                            placeholder="naam@bedrijf.be"
                            required
                        >
                    </div>

                    <div class="login-form-group">
                        <label for="passwordField" class="form-label">Wachtwoord</label>
                        <input
                            type="password"
                            class="login-input-field"
                            name="form_password"
                            id="passwordField"
                            placeholder="••••••••••••••"
                            required
                        >
                    </div>

                    <button type="submit" class="login-submit-button">
                        Inloggen
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
